@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 100% 99%;
    --on-background: 213 63% 12%;
    --surface: 0 0% 100%;
    --on-surface: 213 63% 12%;
    --primary: 0 0% 0%;
    --on-primary: 0 0% 100%;
    --secondary: 212 100% 37%;
    --on-secondary: 0 0% 100%;
    --outline-variant: 214 32% 91%;
  }

  body {
    @apply bg-background text-on-background antialiased font-body-md;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
